.criteria {
  width: 50vw;
  height: 10vw;
  margin: 1vw auto 2vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    "filtr-name filtr-1 filtr-2 filtr-3 go"
    "sort-name sort none none none"
    "add add read read read";
  column-gap: 1vw;
  row-gap: 1.5vw;
}